body{
  /* background-color: blueviolet; */
}

.container{
  text-align: center;
  /* background-color:rgb(51, 119, 236); */
}


.otp{
 
  width:60%
 
 
  
}

#output{
 
  color:blue;
  background-color: lightgray;
  
  border-radius: 5px;
  margin:auto
 
}

h1{
  color:rgb(44, 168, 100)
}
h3{
  color:rgb(21, 164, 164)
}

#date{
  background-color: lightgray;
  padding:0.5rem
  
}

#check{
  font-weight:bold
}