body{
  text-align: center;
}
h1{
  color:rgb(101, 213, 133)
}

h3{
  color:rgb(50, 192, 220)
}
#calc{
  font-weight: bold;
  padding:0.4rem
}

table{
  margin:auto
}

div{
  padding:0.6rem
  
}




input{
  background-color: rgba(241, 216, 216, 0.331);
}

#res{
  font-weight: bold;
  background-color: rgb(212, 204, 204);
  color:blue
  
}